@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-font: Poppins, sans-serif;
    font-family: var(--main-font);
}

:root {
   --button-color:            #0167db;
   --carousele-element-color: #bababa;
   --text-grey-color:         #707070;
   --date-color:              #6fb72f;
   --font-color:              #ffffff;
   --dark-background-color:   #232a35;
}

h1 {
    font-size: 66px;
    font-weight: 800;
    color: var(--font-color);
    width: 400px
}

h2 {
    font-size: 52px;
    font-weight: 800;
}

h2 span {
    font-size: 52px;
    font-weight: 800;
    color: var(--button-color);
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

.icons a {
    display: inline-block;
    text-align: center;
    background-color: var(--font-color);
    border-radius: 5px;
    height: 27px;
    width: 27px;
    padding-top: 3px;
    color: var(--dark-background-color);
    transition: 0.5s;
}

.icons a:hover {
    background-color: var(--date-color);
    color: var(--font-color)
}

a {
    text-decoration: none;
}

.context__button {
    font-size: 12px;
    padding: 15px 20px;
    border: 2px solid var(--font-color);
    color: var(--font-color);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}

.filled__button {
    background-color: var(--button-color);
    border: none;
    padding: 17px 22px;
}