.footer__upper-block {
    background-image: url(../images/background-dark.webp);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer__upper-block-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--font-color);
}

.footer__contact-block h3 {
    font-weight: 800;
}

iframe {
    width: 770px;
    height: 500px;
}

.footer__lower-block {
    background-color: var(--dark-background-color);
    padding: 30px 0px 30px 0px;
}

.footer__link-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--font-color);
}

.footer__company-proclaim > p {
    width: 300px;
    color: var(--text-grey-color);
}

.footer__company-proclaim .logo {
    margin-left: 30px;
}

.follow__us {
    width: 300px;
    padding-left: 100px;
}

.footer__navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    padding: 0px 60px 0px 50px;
}

.footer__navs a {
    text-decoration: none;
    color: var(--font-color);
}

#submit {
    width: 200px;
    margin-top: 20px;
    background-color: var(--font-color);
    border: none;
    color: var(--carousele-element-color);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

#submit:hover {
    background-color: var(--date-color);
    color: var(--font-color);
}

#input__email {
    width: 200px;
    height: 20px;
    padding: 20px 30px;
    font-size: 12px;
    writing-mode: horizontal-tb;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.12);
    border: none;
}

.footer__form p {
    width: 200px;
}

.footer__form {
    margin-left: 30px;
}

.footer__copyright {
    border-top: 1px solid var(--text-grey-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    color: var(--text-grey-color);
}